.allArchiveSection {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.allArchiveSection .allArchivePosts {
  margin-top: 10px;
  display: flex;
}

.allArchiveSection .allArchivePosts .archivePost {
  width: 176px;
  height: 100%;
  background-color: rgba(126, 166, 46, 0.3);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.allArchiveSection .allArchivePosts .archivePost img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.allArchiveSection .allArchivePosts .archivePost div {
  height: 100%;
  padding: 5px;
  padding-bottom: 6px;
}

.allArchiveSection .allArchivePosts .archivePost div h4 {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  text-transform: capitalize;
}

.allArchiveSection .allArchivePosts .archivePost div section {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}

.allArchiveSection .allArchivePosts .archivePost div section .seasonDiv,
.allArchiveSection .allArchivePosts .archivePost div section .episodeDiv {
  width: 44px;
  height: 26px;
  background-color: rgba(90, 135, 2, 0.8);
  margin-left: 10px;
  margin-top: 3px;
  border-radius: 3px;
  padding: 0;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 3px rgba(161, 241, 0, 0.7);
}

.allArchiveSection .allArchivePosts .archivePost div .seasonDiv {
  margin-left: 12px;
}

.allArchiveSection .allArchivePosts .archivePost div section .seasonDiv h4,
.allArchiveSection .allArchivePosts .archivePost div section .episodeDiv h4 {
  position: absolute;
  font-family: "Roboto", serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  margin-top: -21px;
  font-size: 17px;
}

.allArchiveSection .allArchivePosts .archivePost div section .seasonDiv h3,
.allArchiveSection .allArchivePosts .archivePost div section .episodeDiv h3 {
  font-size: 16px;
  font-family: "Roboto", serif;
  color: white;
}

@media (min-width: 850px) {
  .allArchiveSection {
    margin-bottom: 50px;
  }

  .allArchiveSection .allArchivePosts .archivePost {
    width: 220px;
  }

  .allArchiveSection .allArchivePosts .archivePost div {
    padding: 9px;
    padding-bottom: 10px;
  }

  .allArchiveSection .allArchivePosts .archivePost div h4 {
    font-size: 1.2rem;
  }

  .allArchiveSection .allArchivePosts .archivePost div section {
    margin-top: 25px;
  }
}

@media (min-width: 1560px) {
  .allArchiveSection .allArchivePosts .archivePost {
    width: 255px;
  }

  .allArchiveSection .allArchivePosts .archivePost div h4 {
    font-size: 1.3rem;
  }

  .allArchiveSection .allArchivePosts .archivePost div section .seasonDiv,
  .allArchiveSection .allArchivePosts .archivePost div section .episodeDiv {
    height: 50px;
    align-items: center;
  }

  .allArchiveSection .allArchivePosts .archivePost div section .seasonDiv h4,
  .allArchiveSection .allArchivePosts .archivePost div section .episodeDiv h4 {
    font-size: 21px;
    margin-top: -57px;
  }

  .allArchiveSection .allArchivePosts .archivePost div section .seasonDiv h3,
  .allArchiveSection .allArchivePosts .archivePost div section .episodeDiv h3 {
    font-size: 20px;
  }
}