 .archiveTitleAndBtn {
     display: flex;
     justify-content: space-between;
     margin-right: 0.2rem;
 }

 .archiveTitleAndBtn h3 {
     color: white;
     font-family: "Roboto", serif;
     margin-left: 0.2rem;
 }

 .archiveTitleAndBtn button {
     width: 68px;
     height: 23px;
     background-color: rgba(126, 166, 46, 0.3);
     box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25),
         4px 3px 1px rgba(0, 0, 0, 0.25);
     border: 0;
     border-radius: 4px;
     color: white;
     font-weight: bold;
     font-family: "Roboto", serif;
     font-size: 11px;
     margin-right: 11px;
     cursor: pointer;
     transition: 0.2s;
 }

 .archiveTitleAndBtn button:hover {
     opacity: 60%;
     box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25), 0 0 4px rgba(0, 0, 0, 0.25);
 }

 @media (min-width: 600px) {
     .archiveTitleAndBtn h3 {
         font-size: 1.5rem;
     }

     .archiveTitleAndBtn button {
         width: 95px;
         height: 30px;
         font-size: 14px;
     }
 }

 @media (min-width: 1400px) {
     .archiveTitleAndBtn h3 {
         font-size: 1.8rem;
     }

     .archiveTitleAndBtn button {
         width: 120px;
         font-size: 16px;
     }
 }