.swiper-button-prev {
  color: white;
  opacity: 70%;
  transform: translateX(10px);
}

.swiper-button-next {
  color: white;
  opacity: 70%;
  transform: translateX(-10px);
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  opacity: 50%;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border: 2px solid #ffffff;
  background-color: #ffff;
}

.swiper-pagination-bullet:hover {
  opacity: 50%;
}

.swiper-pagination-bullet-active {
  background-color: #ffff;
}

@media (min-width: 600px) {
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
}
