.archivePage {
  background: rgb(19, 5, 26);
  background: linear-gradient(0deg,
      rgba(19, 5, 26, 1) 16%,
      rgba(78, 86, 58, 1) 85%);
  width: 100%;
  margin-top: 85px;
  position: absolute;
  user-select: none;
}

.archivePage .archiveTitle {
  width: 109px;
  height: 23px;
  background-color: #a5cf51;
  border-radius: 4px;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  margin-top: -10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", serif;
}

@media (min-width: 400px) {
  .archivePage .archiveTitle {
    font-size: 15px;
  }
}

@media (min-width: 600px) {
  .archivePage {
    margin-top: 110px;
  }
}

@media (min-width: 850px) {
  .archivePage .archiveTitle {
    width: 120px;
    height: 30px;
    margin-top: -1rem;
    font-size: 18px;
  }
}